:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --bg-color: #d6dfe6;
  --dot-color: #a9d9ae;
  background: var(--bg-color);
  transition: background 0.9s ease;
  font-family: "late-serif-variable", sans-serif;
  font-variation-settings: 'wght' 400;
  color: #3b4d57;
}

body.chapter-alt-theme {
  --bg-color: #b8c4ce;
  --dot-color: #ffbdcb;
}

#app {
  width: 100%;
}
